@model Wantsome.Models.Employee

<div>
    <h3>Add new employee</h3>

    @using (Html.BeginForm())
    {
        <div>
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Details)
            @Html.TextBoxFor(m => m.Details, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Details)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Grade.GradeName)
            @Html.DropDownListFor(m => m.GradeId, (IEnumerable<SelectListItem>)Session["Grades"], new { @class = "form-control" })
        </div>


        <input type="submit" value="Add" class="btn btn-primary" />
    }

</div>